body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.login{
  width:100%;
  text-align: center;
}
.Button {
  background-color: #944317;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
